In [46]:
import pandas as pd

### Raw Cashback File

In [47]:
# Read input files
raw_november = pd.read_csv('../Cashback_Payments/Raw_WO_CCK_November.csv')

### Output Directory

In [48]:
output_directory = '../Cashback_Payments/November_WO_CCK.csv'

# Cohorts Info

In [49]:
cohorts_info = pd.read_csv('Cohorts.csv')

In [50]:
cohorts_info.head(10)

,id,cashback_type,created_at,email,klarUserId,opt_in_cashback,unsubscribed,_segment:1425,_segment:1425_RFC3339
0,c3fa7060a6c051129fe30f2c206668b1,2k,1.579710e+09,albertorh1999@hotmail.com,a712e4ed-350d-46f7-bed8-c8aa84b6fbe0,1,NaN,1667845472,2022-11-07T18:24:32Z
1,ca112feee7a1755e2c1565de9d51ff54,2k,1.580251e+09,ntryf8e@gmail.com,52e251db-ad35-4d18-8997-0a9a426dd7c5,1,NaN,1667845472,2022-11-07T18:24:32Z
2,c471bf85d91b3813fe9ea6e72d39583d,2k_or_10p,1.581728e+09,interunerm@gmail.com,009dd382-1a8f-443f-bec8-a161365655bc,1,NaN,1667845472,2022-11-07T18:24:32Z
3,a1b945f4b291d6ce2c691479dea03e5d,2k_or_10p,1.579713e+09,oz11113333@gmail.com,8accbc3a-07d4-4ee2-97f2-008b930c658b,1,NaN,1667845472,2022-11-07T18:24:32Z
4,dd4336b644ef2a5d719c180da2702c98,10p,1.579716e+09,ruizlopezdavid@gmail.com,9ff30ca5-b210-4d0c-b677-84db3008b50e,1,NaN,1667845472,2022-11-07T18:24:32Z
5,f4442f1beba4ffcb149eadfe96303c1e,10p,1.579713e+09,jr10.angel@gmail.com,8adc19e4-92b3-435c-ac31-6edc209f5203,1,NaN,1667845472,2022-11-07T18:24:32Z
6,f3d32d0364d71403ae27df0715429c78,2k,1.581226e+09,yhwh89rfc@gmail.com,be9012f7-0a41-4e37-aa21-d5439634d142,1,True,1667845472,2022-11-07T18:24:32Z
7,09ba7ab5347d033464c0130eedacf87c,10p,1.579719e+09,edwinavellaneda55@gmail.com,9cc43abb-b8a6-42f8-ba59-b5917a5ef29a,1,NaN,1667845472,2022-11-07T18:24:32Z
8,eae84c52344762d409468f4751b49483,2k_or_10p,1.579719e+09,e.ribera26@gmail.com,3ecd1fcd-679c-4e2c-99eb-87e9c2487101,1,NaN,1667845472,2022-11-07T18:24:32Z
9,46bf73eb8aa2ab3414d0c45c4ff33a9b,2k_or_10p,1.579720e+09,rigomercado1954@gmail.com,73e733ee-2a7b-4201-820d-6234959a2bc6,1,NaN,1667845472,2022-11-07T18:24:32Z

In [51]:
# Delete users without user_id
cohorts_info = cohorts_info[~cohorts_info.klarUserId.isna()]
cohorts_info[cohorts_info.klarUserId.duplicated()]

Empty DataFrame
Columns: [id, cashback_type, created_at, email, klarUserId, opt_in_cashback, unsubscribed, _segment:1425, _segment:1425_RFC3339]
Index: []

In [52]:
cohorts_info.columns

Index(['id', 'cashback_type', 'created_at', 'email', 'klarUserId',
       'opt_in_cashback', 'unsubscribed', '_segment:1425',
       '_segment:1425_RFC3339'],
      dtype='object')

In [53]:
# Needed columns
cohorts_info_clean = cohorts_info[['email','klarUserId', 'cashback_type', 'opt_in_cashback']]
# Rename columns
cohorts_info_clean.columns = ['email','user_id', 'cashback_type', 'needed_opt_in']

In [54]:
# Remap op-int column
cohorts_info_clean.needed_opt_in = cohorts_info_clean.needed_opt_in.map({1:True, 0:False})

/var/folders/b_/lql2bh7s2797fh2q6lw2ttdh0000gn/T/ipykernel_55471/1602279349.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cohorts_info_clean.needed_opt_in = cohorts_info_clean.needed_opt_in.map({1:True, 0:False})

In [55]:
cohorts_info_clean.head(7)

,email,user_id,cashback_type,needed_opt_in
0,albertorh1999@hotmail.com,a712e4ed-350d-46f7-bed8-c8aa84b6fbe0,2k,True
1,ntryf8e@gmail.com,52e251db-ad35-4d18-8997-0a9a426dd7c5,2k,True
2,interunerm@gmail.com,009dd382-1a8f-443f-bec8-a161365655bc,2k_or_10p,True
3,oz11113333@gmail.com,8accbc3a-07d4-4ee2-97f2-008b930c658b,2k_or_10p,True
4,ruizlopezdavid@gmail.com,9ff30ca5-b210-4d0c-b677-84db3008b50e,10p,True
5,jr10.angel@gmail.com,8adc19e4-92b3-435c-ac31-6edc209f5203,10p,True
6,yhwh89rfc@gmail.com,be9012f7-0a41-4e37-aa21-d5439634d142,2k,True

In [56]:
# Cohorts segments
cohorts_info_clean.cashback_type.value_counts()

2k           202428
2k_or_10p    202375
10p          100771
Name: cashback_type, dtype: int64

### Opt-in Info

In [57]:
opt_in_info = pd.read_csv('Opt-In.csv')

In [58]:
opt_in_info.head(7)

,Submission Date,email,source,Nombre,Apellido,IP,Submission ID
0,2022-11-08 17:14:53,schocher.dra@gmail.com,2daa587a-8e61-406d-9fd1-2bb9b2fd3bf5,Die,Schi,200.56.118.244,5437548934421362147
1,2022-11-08 17:19:45,jcarlos.delgado8@gmail.com,d0656686-69b2-4a0e-9d49-573e04771736,Josef,Flaco,200.56.118.244,5437551854424988012
2,2022-11-08 19:37:48,lucyfer970919@gmail.com,df91a5e0-7698-49b3-b93e-9cdf6863d17e,Lucia Carolina,Anza santos,189.129.131.173,5437634673715904285
3,2022-11-08 19:38:03,oscar_gongora@hotmail.com,0603dec1-cb69-4230-aaa3-e163f96c67c1,Oscar,Gongora,189.160.124.146,5437634836411106812
4,2022-11-08 19:38:08,ricardoklehr@gmail.com,e9b766ee-5c98-47d9-a754-b520f784ae06,Ricardo,Garcia Klehr,189.216.205.138,5437634888316551013
5,2022-11-08 19:38:10,israelavefenix@gmail.com,616ea77b-9fd3-486e-9896-aa51ce4a3b31,PABLO ISRAEL,GONZALEZ PEREZ,201.162.218.223,5437634903227467182
6,2022-11-08 19:38:14,adriacontre@hotmail.com,95e6978c-b319-408d-948b-3fccf61a49be,Adrian,Contreras,189.203.175.214,5437634944125878655

In [59]:
# EDA optIn
opt_in_info = opt_in_info[['source']]
opt_in_info.columns = ['user_id']
opt_in_info = pd.DataFrame(opt_in_info.user_id.drop_duplicates(), columns = ['user_id'])
opt_in_info['optIn'] = True

In [60]:
opt_in_info.shape

(35234, 2)

# Cashback Calculation

In [61]:
cashback_november = raw_november.copy()

In [62]:
cashback_november.columns

Index(['user_id', 'ArcusAdjustAmount', 'GalileoAdjustAmount',
       'ArcusPurchaseAmount', 'GalileoPurchaseAmount', 'ArcusAdjustNum',
       'GalileoAdjustNum', 'ArcusPurchaseNum', 'GalileoPurchaseNum'],
      dtype='object')

In [63]:
# Total purchases
cashback_november['total_purchases'] = cashback_november.ArcusPurchaseNum + cashback_november.GalileoPurchaseNum
# Total amount Purchases
cashback_november['amount_purch'] = cashback_november.GalileoPurchaseAmount + cashback_november.ArcusPurchaseAmount
# Calculate the right amount of spend for each user
cashback_november['cashback_amount'] = -1 * cashback_november.amount_purch - cashback_november.GalileoAdjustAmount - - cashback_november.ArcusAdjustAmount
# Calculate the cashback
cashback_november['cashback'] = cashback_november.cashback_amount * 0.01
# Top the cashback for max 1000
cashback_november['cashback'] = cashback_november['cashback'].apply(lambda x: 1000 if x > 1000 else round(x, 1))

#### Clean DataFrame

In [64]:
nov_cashback = cashback_november[['user_id', 'amount_purch', 'total_purchases', 'cashback_amount', 'cashback']]

In [65]:
# Add the segment info
nov_cashback = pd.merge(nov_cashback, cohorts_info_clean, on='user_id', how='left')
# Add optIn responses
nov_cashback = pd.merge(nov_cashback, opt_in_info, on='user_id', how='left')
# Filter the less than 1
nov_cashback = nov_cashback[nov_cashback['cashback'] >= 1]

In [66]:
# Fill users not in experiment
nov_cashback.cashback_type = nov_cashback.cashback_type.fillna('10P')
# Fill users with no required OptIn
nov_cashback.needed_opt_in = nov_cashback.needed_opt_in.fillna(False)
# Fill users with no OptIn
nov_cashback.optIn = nov_cashback.optIn.fillna(False)

In [67]:
nov_cashback.head(7)

,user_id,amount_purch,total_purchases,cashback_amount,cashback,email,cashback_type,needed_opt_in,optIn
0,00001c85-e714-46f5-bb81-9164d49362bf,-273.29,6.0,273.29,2.7,NaN,10P,False,False
1,000048a5-6eb8-464a-ba04-9860337841d2,-200.00,2.0,200.00,2.0,lizgaliher@gmail.com,2k,True,False
2,00007e60-e21e-4616-81b4-4afae84713ee,-265.00,3.0,265.00,2.6,maurochrivas@gmail.com,2k,True,False
3,000096ca-40b4-4de0-8b71-6f16939af17f,-250.00,4.0,250.00,2.5,marychuy1971@hotmail.com,10p,True,False
4,0000f477-d13d-4acb-a6c4-b30e6145ba03,-122.80,2.0,122.80,1.2,osvalfermg@gmail.com,2k_or_10p,True,True
5,0002325b-5c34-4e23-89d4-e289b52b1ab7,-115.00,1.0,115.00,1.2,monsesangster@gmail.com,10p,True,False
6,00024ed7-05c1-4421-ae51-0a4d1cd4ecd0,-699.00,5.0,699.00,7.0,arq.jandresve.2019@gmail.com,10p,True,False

## Payment Filter

In [68]:
# Filter for payment
nov_cashback['Payment_filter'] = nov_cashback.apply(lambda x:
                                                    ( ( (True if x.cashback_amount >= 2000 else False) if x.cashback_type == '2k' else ( (True if x.cashback_amount >= 2000 or x.total_purchases > 9 else False) if x.cashback_type == '2k_or_10P' else (True if x.total_purchases > 9 else False) ) )
                                                      if x.optIn else False)
                                                    if x.needed_opt_in else
                                                    ( (True if x.cashback_amount >= 2000 else False) if x.cashback_type == '2k' else ( (True if x.cashback_amount >= 2000 or x.total_purchases > 9 else False) if x.cashback_type == '2k_or_10P' else (True if x.total_purchases > 9 else False) ) )
                                                    , axis=1)

In [69]:
nov_cashback.head(7)

,user_id,amount_purch,total_purchases,cashback_amount,cashback,email,cashback_type,needed_opt_in,optIn,Payment_filter
0,00001c85-e714-46f5-bb81-9164d49362bf,-273.29,6.0,273.29,2.7,NaN,10P,False,False,False
1,000048a5-6eb8-464a-ba04-9860337841d2,-200.00,2.0,200.00,2.0,lizgaliher@gmail.com,2k,True,False,False
2,00007e60-e21e-4616-81b4-4afae84713ee,-265.00,3.0,265.00,2.6,maurochrivas@gmail.com,2k,True,False,False
3,000096ca-40b4-4de0-8b71-6f16939af17f,-250.00,4.0,250.00,2.5,marychuy1971@hotmail.com,10p,True,False,False
4,0000f477-d13d-4acb-a6c4-b30e6145ba03,-122.80,2.0,122.80,1.2,osvalfermg@gmail.com,2k_or_10p,True,True,False
5,0002325b-5c34-4e23-89d4-e289b52b1ab7,-115.00,1.0,115.00,1.2,monsesangster@gmail.com,10p,True,False,False
6,00024ed7-05c1-4421-ae51-0a4d1cd4ecd0,-699.00,5.0,699.00,7.0,arq.jandresve.2019@gmail.com,10p,True,False,False

## Cashback to pay

In [70]:
nov_cashback[nov_cashback.Payment_filter]['cashback'].sum()

812027.8

### DB Export

In [71]:
nov_cashback.drop('email', axis=1).to_csv(output_directory)

In [75]:
nov_cashback.head(25)

,user_id,amount_purch,total_purchases,cashback_amount,cashback,email,cashback_type,needed_opt_in,optIn,Payment_filter
0,00001c85-e714-46f5-bb81-9164d49362bf,-273.29,6.0,273.29,2.7,NaN,10P,False,False,False
1,000048a5-6eb8-464a-ba04-9860337841d2,-200.00,2.0,200.00,2.0,lizgaliher@gmail.com,2k,True,False,False
2,00007e60-e21e-4616-81b4-4afae84713ee,-265.00,3.0,265.00,2.6,maurochrivas@gmail.com,2k,True,False,False
3,000096ca-40b4-4de0-8b71-6f16939af17f,-250.00,4.0,250.00,2.5,marychuy1971@hotmail.com,10p,True,False,False
4,0000f477-d13d-4acb-a6c4-b30e6145ba03,-122.80,2.0,122.80,1.2,osvalfermg@gmail.com,2k_or_10p,True,True,False
5,0002325b-5c34-4e23-89d4-e289b52b1ab7,-115.00,1.0,115.00,1.2,monsesangster@gmail.com,10p,True,False,False
6,00024ed7-05c1-4421-ae51-0a4d1cd4ecd0,-699.00,5.0,699.00,7.0,arq.jandresve.2019@gmail.com,10p,True,False,False
8,0003006b-f38e-46b8-a10d-ca7d3caaadcd,-100.00,2.0,100.00,1.0,carlospopoca0423@gmail.com,10p,True,False,False
9,00030c5c-c952-4eb7-a348-de96391e1b1b,-907.92,6.0,907.92,9.1,elizabeth.1reina@gmail.com,2k,True,True,False
10,0003455b-033d-48ee-80d2-77c05664c154,-635.00,6.0,635.00,6.4,dianacast7208@gmail.com,2k_or_10p,False,False,False
11,00038557-6c50-4a9f-9cd8-c49a28987754,-100.00,1.0,100.00,1.0,eezm.edgar@hotmail.com,2k,True,False,False
12,0003e36f-092e-47f7-8842-b915afd24168,-942.00,11.0,942.00,9.4,rioo911106uk0@gmail.com,2k_or_10p,True,False,False
13,000407dc-8768-4cb9-9ac9-5447d83dad93,-1478.23,4.0,1478.23,14.8,jesuszeferino81@gmail.com,10p,True,False,False
14,00046250-0190-487d-83e4-d392c01b31b5,-2069.00,1.0,2069.00,20.7,jorgejimenezalbertoavalos@gmail.com,2k,True,False,False
15,00046bd8-8126-46c7-957b-2ef74eb561ee,-1169.16,7.0,1169.16,11.7,marthapl96@gmail.com,2k_or_10p,True,False,False
16,00047b85-bc2c-4ccd-95ca-e11d4efc93dc,-2254.67,4.0,2254.67,22.5,angistefanie@gmail.com,2k,True,False,False
17,0004ed83-d1c4-4e3e-a73b-a7a03a09d525,-400.00,2.0,400.00,4.0,redazul.sa.m4@gmail.com,2k,True,False,False
18,00057154-a204-4f63-9a27-f70bb9885dc8,-5672.32,13.0,5672.32,56.7,parquelira61@gmail.com,2k,True,False,False
19,00057ca9-dbc8-4860-be07-5a28b5c3a29c,-1609.90,7.0,1609.90,16.1,luisyto275@gmail.com,2k_or_10p,True,False,False
20,0005a795-35d6-4ebd-b2c4-6c8d576186a8,-232.79,2.0,232.79,2.3,adrianmr63@gmail.com,2k,False,False,False
21,00066837-dffb-4dc1-bacf-e582c2715e77,-146.00,1.0,146.00,1.5,isaneri@yahoo.com,2k_or_10p,True,False,False
22,0007bb12-a630-4c47-9771-e584634f419d,-103.50,1.0,103.50,1.0,yuls764@gmail.com,2k,True,False,False
24,0007fa8f-f1bf-41d9-9820-4c204b306144,-1819.20,9.0,1819.20,18.2,jdiego.duran4@gmail.com,2k_or_10p,True,False,False
25,0008174a-4127-4d83-959b-5ce333944598,-1055.26,8.0,1055.26,10.6,alejandro.maldouf@gmail.com,2k,False,False,False
26,0008d053-6036-494b-96da-6c3e0a6121a6,-946.10,5.0,946.10,9.5,ian.andrade.carmona@gmail.com,2k_or_10p,True,False,False

In [74]:
883238.3-812027

71211.30000000005

In [76]:
nov_cashback[nov_cashback.Payment_filter].head(25)

,user_id,amount_purch,total_purchases,cashback_amount,cashback,email,cashback_type,needed_opt_in,optIn,Payment_filter
33,000ae190-9440-4651-9250-d5110bc5ad3e,-3539.88,14.0,3360.68,33.6,NaN,10P,False,False,True
45,00101e07-baef-464a-9ae4-0c293fb79f7b,-12454.00,31.0,12453.00,124.5,je401646@gmail.com,2k,True,True,True
63,0017bc15-659b-4994-9a33-d6a94ee2093d,-674.99,25.0,674.99,6.7,gerontology_nabor@outlook.com,10p,False,False,True
64,0018aa72-d2bb-4069-91c5-2a0271165367,-2798.45,12.0,2798.45,28.0,cris_velazquez_10@hotmail.com,10p,True,True,True
65,0018b88e-e576-49e8-84ae-78a10125f5fa,-2312.80,11.0,2312.80,23.1,edgarlozano52@gmail.com,2k,True,True,True
82,001f4e2e-774e-481c-bbd7-2898fd0f69fa,-5450.07,26.0,5450.07,54.5,mike_10vazquez@hotmail.com,2k_or_10p,True,True,True
89,0021bdea-c63e-44a2-94ad-e8301938f83f,-13269.44,78.0,12441.90,124.4,jair.navarrop@gmail.com,2k,True,True,True
91,00227fd4-62ea-424f-acdf-6a6d8bc696ee,-29633.75,77.0,29633.75,296.3,jorgesaldanaguzman@icloud.com,2k,True,True,True
92,00228ae3-f794-408c-b494-74f0f40d4f36,-1129.40,14.0,1129.40,11.3,aldoabrahamsanchez@gmail.com,2k_or_10p,True,True,True
129,0030d5f5-5d57-4d65-b74b-4535e057dcf4,-107792.88,25.0,107792.88,1000.0,dariochavez@gmail.com,2k_or_10p,True,True,True
144,00368131-8e10-441d-b08e-e44789cf968a,-10587.69,17.0,10587.69,105.9,mario.crespo@yahoo.com,2k,True,True,True
162,003bd08f-9ebe-4069-97da-e539f3b70e52,-3840.06,13.0,3840.06,38.4,jorge.garcia0310@hotmail.com,2k,True,True,True
197,004c10bb-9f0e-4072-93a7-7eb9be6eff07,-6586.20,12.0,6387.60,63.9,inutaliz18@gmail.com,2k,True,True,True
200,004d85d8-8926-4d00-8c68-4758422961ea,-6349.99,32.0,6349.99,63.5,juanjesusxicotencal@gmail.com,2k,True,True,True
209,00525c5a-a041-4777-a0fc-84bf799cc19a,-2595.90,11.0,2595.90,26.0,jiga3761@gmail.com,2k_or_10p,False,False,True
228,005de852-ea10-425f-925d-b57b3cd8684c,-12616.56,16.0,12616.56,126.2,lauro_927@hotmail.com,2k_or_10p,False,False,True
232,005ecfeb-be15-4968-89f9-52baae6809e2,-3592.40,15.0,3592.40,35.9,bejmurillo@gmail.com,2k_or_10p,True,True,True
234,005f5afe-3655-45f3-b3e1-f83b77b4739b,-10668.12,36.0,10668.12,106.7,brenda.romeropedregon@gmail.com,2k_or_10p,True,True,True
257,0065a689-dd54-4502-ac76-277906f89e1f,-1790.89,12.0,1790.89,17.9,diazelena5172@gmail.com,10p,True,True,True
269,006ab65e-8570-4646-97ff-76e4721d4994,-1006.87,17.0,1006.87,10.1,11vkjavier@gmail.com,10p,True,True,True
275,006ca787-8793-4fec-8a5b-7bc3b65d658f,-988.79,50.0,952.14,9.5,NaN,10P,False,False,True
277,006d6508-5bad-4a89-a231-c8f97c12babc,-2043.50,13.0,2023.50,20.2,guevaraag_33@hotmail.com,2k,True,True,True
315,0079ff74-36c5-4f4f-ba4e-b6cfe596dc8b,-3735.01,14.0,3594.01,35.9,azahel.0z29@gmail.com,2k,True,True,True
326,007f5b64-e7ce-4b70-bf46-fa325b047e5b,-5538.07,47.0,5538.07,55.4,vperezlizarraga@yahoo.com,2k_or_10p,True,True,True
335,00838d00-7055-4611-bf0d-7cf303ccdc86,-2966.67,22.0,2966.67,29.7,americamedina0105@gmail.com,2k_or_10p,False,False,True

In [77]:
nov_cashback.to_clipboard()