In [1]:
import pandas as pd
import os

pickles = [x for x in os.listdir('./Data') if 'pkl' in x]

months = [x.split('.pkl')[0] for x in pickles]

In [205]:
i = 9

month = pd.read_pickle('./Data/' + pickles[i])
month.head()

,user_id,segment,Payment,month,principal_segment,sub_segment,type_segment
0,75795a6d-78d2-4730-907f-f94bed06561a,CSU+1T no 1P - control,NaN,October2021,CSU + 1T no 1P,<NA>,C
1,1f956253-dddc-46db-903c-c11fbe7c6076,CSU+1T no 1P - control,NaN,October2021,CSU + 1T no 1P,<NA>,C
2,02735387-2b8b-41ca-8313-75f6b5409e9a,CSU+1T no 1P - control,NaN,October2021,CSU + 1T no 1P,<NA>,C
3,d544f5a2-73da-4f26-834b-fde0c87c5a23,CSU+1T no 1P - control,NaN,October2021,CSU + 1T no 1P,<NA>,C
4,ce1580fb-d139-4703-80eb-c5f727bb3d69,CSU+1T no 1P - control,NaN,October2021,CSU + 1T no 1P,<NA>,C

In [180]:
month.user_id.value_counts()

75795a6d-78d2-4730-907f-f94bed06561a    1
03a11e43-73d0-4cad-9151-c5b838a6bc62    1
f63a76c7-99ea-4ea5-8d6e-38215bebf554    1
979b340e-b728-4733-90d3-99781fb48b5a    1
85d8c545-231d-4b66-8fbe-8097768c0c6d    1
                                       ..
700c605f-a735-4e4b-bdf6-70994d2cb9fa    1
b6853f19-de11-4d96-b147-7550c2dfe313    1
78476075-ebe5-4fda-91e2-3788b1a1666e    1
a3603ae2-c520-4b47-8dc4-0141e36d0102    1
48cb4f70-4897-4691-8b96-a0916af06bae    1
Name: user_id, Length: 531008, dtype: int64

In [181]:
month = month[month.user_id != 0]
month = month.drop_duplicates('user_id')
month.head()

,user_id,segment,Payment
0,75795a6d-78d2-4730-907f-f94bed06561a,CSU+1T no 1P - control_October2021,NaN
1,1f956253-dddc-46db-903c-c11fbe7c6076,CSU+1T no 1P - control_October2021,NaN
2,02735387-2b8b-41ca-8313-75f6b5409e9a,CSU+1T no 1P - control_October2021,NaN
3,d544f5a2-73da-4f26-834b-fde0c87c5a23,CSU+1T no 1P - control_October2021,NaN
4,ce1580fb-d139-4703-80eb-c5f727bb3d69,CSU+1T no 1P - control_October2021,NaN

In [182]:
month.segment.value_counts()

CSU no 1P and 1T - 300_October2021      301455
CSU+1T no 1P - 300_October2021           70873
CSU no 1P and 1T - contr_October2021     43070
CSU no 1P and 1T - 400_October2021       42882
CSU no 1P and 1T - 200_October2021       42806
CSU+1T no 1P - 200_October2021           10140
CSU+1T no 1P - control_October2021        9988
CSU+1T no 1P - 400_October2021            9794
Name: segment, dtype: int64

In [183]:
month['month']  = month.segment.apply(lambda x: x.split('_')[1])

month.segment  = month.segment.apply(lambda x: x.split('_')[0])

In [184]:
month.head()

,user_id,segment,Payment,month
0,75795a6d-78d2-4730-907f-f94bed06561a,CSU+1T no 1P - control,NaN,October2021
1,1f956253-dddc-46db-903c-c11fbe7c6076,CSU+1T no 1P - control,NaN,October2021
2,02735387-2b8b-41ca-8313-75f6b5409e9a,CSU+1T no 1P - control,NaN,October2021
3,d544f5a2-73da-4f26-834b-fde0c87c5a23,CSU+1T no 1P - control,NaN,October2021
4,ce1580fb-d139-4703-80eb-c5f727bb3d69,CSU+1T no 1P - control,NaN,October2021

In [185]:
month.month.value_counts()

October2021    531008
Name: month, dtype: int64

SEGMENTS

In [186]:
month.segment.value_counts()

CSU no 1P and 1T - 300      301455
CSU+1T no 1P - 300           70873
CSU no 1P and 1T - contr     43070
CSU no 1P and 1T - 400       42882
CSU no 1P and 1T - 200       42806
CSU+1T no 1P - 200           10140
CSU+1T no 1P - control        9988
CSU+1T no 1P - 400            9794
Name: segment, dtype: int64

PRINCIPAL SEGMENT

In [195]:
month['principal_segment'] = month.segment.apply(lambda x: x.split(' - ')[0])
# month['principal_segment'] = month.segment.apply(lambda x: x.split(' - ')[0] if len(x.split(' - ')) > 1 else 'No CSU')

In [198]:
month.principal_segment.value_counts()

CSU no 1T nor 1P    430213
CSU + 1T no 1P      100795
Name: principal_segment, dtype: int64

In [197]:
principal_segments = {'CSU no 1P and 1T': 'CSU no 1T nor 1P', 'CSU+1T no 1P':'CSU + 1T no 1P', 'No CSU':'No CSU'}
month.principal_segment = month.principal_segment.map(principal_segments)

SUB SEGMENT

In [199]:
# month['sub_segment'] = month.segment.apply(lambda x: x.split(' - ')[1].split(' ')[1] if x.split(' - ')[1] not in ['Control', 'Treatment $300'] else pd.NA)
# month['sub_segment'] = month.segment.apply(lambda x: x.split(' - ')[1].split(' ')[0] if len(x.split(' - ')) > 1 else pd.NA)
month['sub_segment'] = month.segment.apply(lambda x: x.split(' - ')[1] if x.split(' - ')[1] not in ['contr', 'control'] else pd.NA)

In [200]:
month.sub_segment.value_counts()

300    372328
200     52946
400     52676
Name: sub_segment, dtype: int64

TYPE SEGMENT

In [201]:
# month['type_segment'] = month.segment.apply(lambda x: x.split(' - ')[1].split(' ')[0] if x.split(' - ')[1] not in ['Control', 'Treatment $300'] else ('C' if x.split(' - ')[1] == 'Control' else 'T'))
# month['type_segment'] = month.segment.apply(lambda x: x.split(' - ')[1].split(' ')[1] if len(x.split(' - ')) > 1 else ('C' if x.split(' ')[2] == 'control' else 'T'))
# month['type_segment'] = month.segment.apply(lambda x: (x.split(' - ')[1].split(' ')[1] if x.split(' - ')[1].split(' ')[1] in ['C','T'] else 'T') if len(x.split(' - ')) > 1 else ('C' if x.split(' ')[2] == 'control' else 'T'))
month['type_segment'] = month.segment.apply(lambda x: 'C' if x.split(' - ')[1] in ['contr', 'control'] else 'T')

In [202]:
month.type_segment.value_counts()

T    477950
C     53058
Name: type_segment, dtype: int64

In [203]:
month.head(20)

,user_id,segment,Payment,month,principal_segment,sub_segment,type_segment
0,75795a6d-78d2-4730-907f-f94bed06561a,CSU+1T no 1P - control,NaN,October2021,CSU + 1T no 1P,<NA>,C
1,1f956253-dddc-46db-903c-c11fbe7c6076,CSU+1T no 1P - control,NaN,October2021,CSU + 1T no 1P,<NA>,C
2,02735387-2b8b-41ca-8313-75f6b5409e9a,CSU+1T no 1P - control,NaN,October2021,CSU + 1T no 1P,<NA>,C
3,d544f5a2-73da-4f26-834b-fde0c87c5a23,CSU+1T no 1P - control,NaN,October2021,CSU + 1T no 1P,<NA>,C
4,ce1580fb-d139-4703-80eb-c5f727bb3d69,CSU+1T no 1P - control,NaN,October2021,CSU + 1T no 1P,<NA>,C
5,8899e6f4-a633-4f72-8909-4b2b994fbf07,CSU+1T no 1P - control,NaN,October2021,CSU + 1T no 1P,<NA>,C
6,99b2c776-d6b8-4d60-bdaf-ec5c02349bb5,CSU+1T no 1P - control,NaN,October2021,CSU + 1T no 1P,<NA>,C
7,4a0d8338-3c64-4be6-b19c-58290ac3a2ee,CSU+1T no 1P - control,NaN,October2021,CSU + 1T no 1P,<NA>,C
8,ddcbe2c5-7f2d-4acd-a34e-8b6bb6fdd100,CSU+1T no 1P - control,NaN,October2021,CSU + 1T no 1P,<NA>,C
9,a47fec81-2e13-445a-a206-80f019ecaafe,CSU+1T no 1P - control,NaN,October2021,CSU + 1T no 1P,<NA>,C
10,1e2dda8b-310b-41a3-bb85-524199f47ded,CSU+1T no 1P - control,NaN,October2021,CSU + 1T no 1P,<NA>,C
11,6b87533c-4ef7-4475-bc98-824e5832b6d1,CSU+1T no 1P - control,NaN,October2021,CSU + 1T no 1P,<NA>,C
12,15705d29-0177-4e09-93ff-5b55d3fef99f,CSU+1T no 1P - control,NaN,October2021,CSU + 1T no 1P,<NA>,C
13,f0b0be9b-893c-4102-8d80-d27cc3497f9a,CSU+1T no 1P - control,NaN,October2021,CSU + 1T no 1P,<NA>,C
14,c1b5e553-6afc-4d05-839e-ee950105b4e6,CSU+1T no 1P - control,NaN,October2021,CSU + 1T no 1P,<NA>,C
15,7715addf-2b79-491a-b69a-0daf141ff56f,CSU+1T no 1P - control,NaN,October2021,CSU + 1T no 1P,<NA>,C
16,95acbd93-8a74-45a6-bc7e-92d901db43f6,CSU+1T no 1P - control,NaN,October2021,CSU + 1T no 1P,<NA>,C
17,a5a97076-9042-4535-908a-5a32671ee924,CSU+1T no 1P - control,NaN,October2021,CSU + 1T no 1P,<NA>,C
18,dda79fde-04e1-464d-94a4-5a2526fd0efb,CSU+1T no 1P - control,NaN,October2021,CSU + 1T no 1P,<NA>,C
19,2dae9d06-796f-495b-98f7-08cc3689531f,CSU+1T no 1P - control,NaN,October2021,CSU + 1T no 1P,<NA>,C

In [204]:

month.to_pickle('./Data/' + pickles[i])