In [1]:
import pandas as pd

In [5]:
reward_balance = pd.read_csv('C://Users//gabri//PycharmProjects//Klar//Rewards//ATM//Data//Transactions_Balance_09082022.csv', parse_dates=['cohort'])

reward_balance.head(10)

,user_id,cohort,avg_balance,min_balance_month,max_balance_month,r_transactions,r_purchases,r_fee,r_disbursement,r_transfer,r_deposit,r_quasi_cash,r_balance_check,r_withdraw,r_cashback
0,366e280c-7783-4376-9129-8f3ac7ff158e,2022-04-01,46.333333,40.00,50.00,1,0,1,0,0,0,0,1,0,0
1,36b1bbee-6331-4e2d-a20c-de16aa47f523,2022-04-01,20.978000,6.52,440.26,4,0,0,1,3,0,0,0,1,0
2,37c76cdb-b45c-455e-b75b-587c94827d8a,2022-04-01,23.088000,22.16,50.00,2,0,2,0,0,0,0,1,0,0
3,37a45bf6-a985-406a-91fd-2429d660f76c,2022-04-01,79.706667,0.00,100.00,2,0,1,0,1,0,0,1,0,0
4,37b62a00-d757-4eaa-b758-4e98b7b4bed4,2022-04-01,37.666667,2.60,150.00,4,0,1,1,2,0,0,0,1,0
5,383ae976-8f34-4b12-8b2a-bf9df15844dc,2022-04-01,39.328000,36.08,50.00,1,0,1,0,0,0,0,1,0,0
6,385f73ec-c2b4-4c66-8fe1-3ac584814a48,2022-04-01,140.173333,3.80,4003.80,2,0,0,1,1,0,0,0,1,0
7,37ec1fb1-ec19-43ce-841b-8de2f31f3ea4,2022-04-01,43.733333,0.00,1036.00,9,0,0,2,7,0,0,0,1,0
8,07fed886-d2e4-425c-9f70-4b917dab4fa3,2022-04-01,195.313333,29.18,1165.18,8,0,0,4,4,0,0,0,1,0
9,38902bf6-cab9-40ee-baa6-f2b167eaf537,2022-04-01,39.857333,0.00,50.00,2,0,1,0,1,0,0,1,0,0

In [6]:
reward_balance.describe()

,avg_balance,min_balance_month,max_balance_month,r_transactions,r_purchases,r_fee,r_disbursement,r_transfer,r_deposit,r_quasi_cash,r_balance_check,r_withdraw,r_cashback
count,52776.000000,52776.000000,52776.000000,55390.000000,55390.0,55390.000000,55390.000000,55390.000000,55390.000000,55390.000000,55390.000000,55390.000000,55390.000000
mean,591.579284,173.677435,2084.496546,6.384113,0.0,0.373858,0.947608,4.902509,0.158350,0.001787,0.256346,0.810670,0.026936
std,4416.828868,3099.152166,7472.167313,9.885254,0.0,0.646467,1.352589,9.277488,0.714013,0.135091,0.436619,0.458096,0.161899
min,-1882.090000,-3034.260000,-1882.090000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,40.645161,0.000000,100.000000,2.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,99.311157,3.825000,603.205000,3.000000,0.0,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,321.844309,38.400000,2120.000000,7.000000,0.0,1.000000,1.000000,5.000000,0.000000,0.000000,1.000000,1.000000,0.000000
max,307430.692903,236695.070000,437133.160000,194.000000,0.0,14.000000,31.000000,193.000000,18.000000,28.000000,1.000000,2.000000,1.000000

In [18]:
withdraw_reward = reward_balance[reward_balance.r_withdraw == 1]
balance_reward = reward_balance[reward_balance.r_balance_check == 1]
atm_reward = reward_balance[(reward_balance.r_withdraw == 1) & (reward_balance.r_balance_check == 1)]

In [12]:
withdraw_reward[['avg_balance', 'min_balance_month',
       'max_balance_month', 'r_transactions','r_fee',
       'r_disbursement', 'r_transfer', 'r_deposit', 'r_quasi_cash','r_withdraw']].describe()

,avg_balance,min_balance_month,max_balance_month,r_transactions,r_fee,r_disbursement,r_transfer,r_deposit,r_quasi_cash,r_withdraw
count,39167.000000,39167.000000,39167.000000,41781.000000,41781.000000,41781.000000,41781.000000,41781.00000,41781.000000,41781.0
mean,691.541780,198.119188,2488.549775,6.944257,0.166822,1.177808,5.424762,0.17271,0.002154,1.0
std,4885.430878,3388.984309,8242.995415,10.593870,0.500676,1.392726,9.912215,0.75728,0.152513,0.0
min,-1882.090000,-2562.640000,-1882.090000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,1.0
25%,50.000000,0.000000,290.230000,2.000000,0.000000,0.000000,1.000000,0.00000,0.000000,1.0
50%,136.703000,2.040000,1001.350000,4.000000,0.000000,1.000000,2.000000,0.00000,0.000000,1.0
75%,395.887667,31.235000,2695.670000,8.000000,0.000000,1.000000,6.000000,0.00000,0.000000,1.0
max,307430.692903,236695.070000,437133.160000,194.000000,14.000000,31.000000,193.000000,17.00000,28.000000,1.0

In [15]:
balance_reward[['avg_balance', 'min_balance_month',
       'max_balance_month', 'r_transactions','r_fee',
       'r_disbursement', 'r_transfer', 'r_deposit', 'r_quasi_cash','r_balance_check']].describe()

,avg_balance,min_balance_month,max_balance_month,r_transactions,r_fee,r_disbursement,r_transfer,r_deposit,r_quasi_cash,r_balance_check
count,14199.000000,14199.000000,14199.000000,14199.000000,14199.000000,14199.000000,14199.000000,14199.000000,14199.000000,14199.0
mean,264.949059,65.409877,861.105697,4.889922,1.133038,0.251849,3.391013,0.113036,0.000986,1.0
std,2312.399064,701.841196,4286.927119,7.576064,0.608301,0.848977,7.215931,0.558809,0.062795,0.0
min,-863.240000,-999.970000,-863.240000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
25%,34.290323,0.000000,50.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.0
50%,44.973333,15.440000,64.000000,3.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.0
75%,108.046333,38.400000,500.000000,5.000000,1.000000,0.000000,3.000000,0.000000,0.000000,1.0
max,211326.333226,40367.250000,260694.110000,170.000000,12.000000,23.000000,169.000000,18.000000,6.000000,1.0

In [19]:
atm_reward[['avg_balance', 'min_balance_month',
       'max_balance_month', 'r_transactions','r_fee',
       'r_disbursement', 'r_transfer', 'r_deposit', 'r_quasi_cash','r_balance_check', 'r_withdraw']].describe()

,avg_balance,min_balance_month,max_balance_month,r_transactions,r_fee,r_disbursement,r_transfer,r_deposit,r_quasi_cash,r_balance_check,r_withdraw
count,2151.000000,2151.000000,2151.000000,2151.000000,2151.000000,2151.000000,2151.000000,2151.000000,2151.000000,2151.0,2151.0
mean,798.892259,129.140161,2779.181955,9.573687,1.242678,1.641562,6.468619,0.218503,0.002325,1.0,1.0
std,5551.324359,1495.718562,9128.486178,11.576642,0.813640,1.568683,10.918592,0.892163,0.088891,0.0,0.0
min,-64.259355,-725.696500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,72.579753,0.000000,452.680000,4.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.0,1.0
50%,173.277419,3.600000,1050.760000,6.000000,1.000000,1.000000,3.000000,0.000000,0.000000,1.0,1.0
75%,432.616371,28.990000,2659.205000,10.000000,1.000000,2.000000,7.000000,0.000000,0.000000,1.0,1.0
max,211326.333226,40367.250000,260694.110000,142.000000,11.000000,23.000000,126.000000,12.000000,4.000000,1.0,1.0